
    Last update: {{(bookModel)?.lastUpdate | date:'dd/MM/yyyy HH:mm'}}

<div *ngIf="(books$ | async) != null">
    <div *ngFor="let book of (books$ | async)?.books; trackBy:indexTracker">
        <app-book-edit [book]="book"></app-book-edit>
    </div>
</div>

<button class="btn btn-primary m-3" type="button" (click)="addBook()">Add</button>
<button class="btn btn-primary m-3" type="button" (click)="deleteBook()">Remove</button>
<button class="btn btn-primary m-3" type="button" (click)="updateBook()">Update</button>










