<form #loginForm="ngForm" (submit)="submit(loginForm)">

  <fieldset>
    <legend>
      <h1 mat-dialog-title>Edit</h1>
    </legend>
    <div class="row">
      <div class="form-group col-10">

<!--        <input type="text" class="form-control" required [(ngModel)]="book.id" name="bookId" id="bookId"-->
<!--               #bookId="ngModel">-->
<!--        <div class="invalid-feedback">-->
<!--          <div *ngIf="loginForm.submitted && bookId.errors">שדה חובה</div>-->
<!--        </div>-->

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Id</mat-label>
          <input matInput placeholder="book id" [(ngModel)]="book.id" name="bookId"
                 #bookId="ngModel">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Book title</mat-label>
          <input matInput placeholder="publishing year" [(ngModel)]="book.title" name="title" #title="ngModel">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Publishing year</mat-label>
          <input matInput placeholder="publishing year" minlength="4" maxlength="4" [(ngModel)]="book.publishingYear" name="publishingYear" #publishingYear="ngModel">
        </mat-form-field>
      </div>

<!--      <div class="form-group col-4">-->
<!--        <input type="text" class="form-control" required [(ngModel)]="book.title" name="title" id="title"-->
<!--               #title="ngModel">-->
<!--        <div class="invalid-feedback">-->
<!--          <div *ngIf="loginForm.submitted && title.errors">שדה חובה</div>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="form-group col-2">-->
<!--        <div class="d-block w-100">-->
<!--          <input type="text" class="form-control" required minlength="4" maxlength="4" [(ngModel)]="book.publishingYear"-->
<!--                 name="publishingYear" id="publishingYear" #publishingYear="ngModel">-->
<!--        </div>-->
<!--        <div class="invalid-feedback">-->
<!--          <div *ngIf="loginForm.submitted && publishingYear.errors">שדה חובה</div>-->
<!--        </div>-->
<!--      </div>-->
    </div>
  </fieldset>
  <button mat-button (click)="submit(loginForm)">submit</button>
<!--  <button mat-button [mat-dialog-close]="closeDialog()">close</button>-->

</form>
