<form #loginForm="ngForm" (submit)="submit(loginForm)">


  <span mat-dialog-title>Edit
  <button class="float-end" mat-raised-button color="basic" [mat-dialog-close]="true"><i class="bi bi-x-circle"></i></button>
  </span>
  <mat-divider></mat-divider>
  <div class="row mt-2">
    <div class="form-group col-10">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Id</mat-label>
        <input matInput placeholder="book id" [(ngModel)]="book.id" name="bookId"
               #bookId="ngModel">
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Book title</mat-label>
        <input matInput placeholder="publishing year" [(ngModel)]="book.title" name="title" #title="ngModel">
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Publishing year</mat-label>
        <input matInput placeholder="publishing year" minlength="4" maxlength="4" [(ngModel)]="book.publishingYear"
               name="publishingYear" #publishingYear="ngModel">
      </mat-form-field>
    </div>
  </div>


  <button class="float-end" mat-raised-button color="primary" (click)="submit(loginForm)"><i class="bi bi-box-arrow-in-right"></i></button>
  <button type="button" mat-raised-button color="basic" class="float-end" (click)="onDelete()">
    <i class="bi bi-trash"></i>
  </button>



</form>
