<mat-toolbar color="primary" class="grey p-5">
  <div class="container">
    <h1 class="display-4 mat-primary">Hello, world!</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to
      featured content or information.</p>
  </div>
</mat-toolbar>

<mat-toolbar  class="shadow grey p-5">
  <div class="container">
    <h1 class="display-4 mat-primary">Hello, world!</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to
      featured content or information.</p>
  </div>
</mat-toolbar>


<mat-card class="h-100">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</mat-card>



